* {
  font-family: 'Noto Sans KR', sans-serif;
  box-sizing: border-box;
  outline: none;
}

body {}

/* 태크.클래스네임 {...}*/
.container{
  width: 1200px;
}
header{
  height: 100px;
}
/* Section : About */
/* .about {
  border: 5px solid blue;
} */
section.about {
  border: 5px solid blue;
}