body {
  font-family: 'Noto Sans KR', sans-serif;
}

/* .start span {
  color: blue;
} */

/* .start > span {
  color : red;
} */

.start div p,
.end {
  color: red;
  font-size: 2em;
}

.end {
  text-transform: uppercase;
}

