body {
  font-family: 'Noto Sans KR', sans-serif;
}
h1 {
  color: red;
}
.blue-text {
  color: blue;
}
ul li {
  color: pink;
}
/* p {
  color : blue;
} */
#green-text {
  color : green;
}
.large-text {
  font-size: 2em;
}