* {
  font-family: 'Noto Sans KR', sans-serif;
  box-sizing: border-box;
  outline: none;
}

body {}

span {
  border: 1px solid #000;
  width: 300px;
  height: 100px;
  margin: 30px;
}
div {
  border: 1px solid #000;
  width: 300px;
  height: 100px;
  /* margin: 30px; */
}
div:nth-child(1){
  margin-bottom: 60px;
}
div:nth-child(2){
  margin-bottom: 30px;
}
div:nth-child(3){}

button {
  width: 300px;
  height: 100px;
  margin: 30px;

}